@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional */
body {
  margin: 0;
  background-color: #000;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
}
